---
import { DownloadButtonWithAutoDetectDistro } from "@/components/Download";
import Badge from "@/components/ui/Badge.astro";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-iconify";
---

<div class="w-full lg:w-1/2 mt-10 lg:mb-0 flex justify-center items-center">
  <div class="text-center max-w-lg">
    <Badge variant="outline" class="mb-7 ">
      <Button variant="link" className="h-5 text-white-angel hover:no-underline">
        <Icon name="radix-icons:github-logo" class="w-4 h-4 text-white hover:text-gray-500 dark:text-neutral-200"/>
        <a href="https://github.com/latentdream/watson.ai">
          Open Source on Github
        </a>
      </Button>
    </Badge>
    <h1 class="text-5xl font-bold mb-4 text-white-angel">
      Capture Every Word <br /> Miss no Detail
    </h1>
    <p class="mb-6 text-white-angel">
      Easily transcribes and summarizes meetings by recording your system audio and
      microphone to extract all action items and meeting summaries!
    </p>
    <ul class="flex items-center justify-center space-x-2 mt-4">
      <li>
        <DownloadButtonWithAutoDetectDistro size="default" client:load />
      </li>
      <li>
        <Button variant="translucide" className="text-white-angel">
          <a href="https://cal.com/guillaume-thibault/30min">Book a Demo</a>
        </Button>
      </li>
    </ul>
  </div>
</div>
