---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

const watsonProductImage = "https://images.unsplash.com/photo-1700729471341-0b0c3c4c6f9c?q=80&w=2940&auto=format&fit=crop";

const demos = [
  {
    alt: 'product demo - recording',
    title: 'Record Your Meeting',
    src: watsonProductImage,
    type: 'image'
  },
  {
    alt: 'product demo - summary',
    title: 'Summarize Content',
    src: watsonProductImage,
    type: 'image'
  },
  {
    alt: 'product demo - search',
    title: 'Search Coming Soon!',
    src: watsonProductImage,
    type: 'image',
    disabled: true
  },
];
---

<Layout title="Watson - Meeting Recorder">
  <section class="min-h-screen flex flex-col items-center justify-center gap-32 py-8 px-4">
    <Hero />
    <!-- <ProductDemo demos={demos} client:load /> -->
  </section>
  <!-- <FeatureList /> -->
  <!-- <StartNowCard /> -->
</Layout>
