---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProductDemo from '../components/ProductDemo';
import FeatureList from '../components/FeatureList.astro';
import StartNow from '../components/StartNow.astro';
import Pricing from '../components/Pricing.astro';

---

<Layout title="Watson - Meeting Recorder">
  <section class="min-h-screen flex flex-col items-center justify-center gap-32 py-8 px-4">
    <Hero />
    <ProductDemo />
  </section>
  <FeatureList />
  <Pricing />
  <StartNow />
</Layout>
